In [49]:
import numpy as np
import pandas as pd
import datetime as dt

import matplotlib.pyplot as plt
from matplotlib import style
import matplotlib.ticker as ticker
import seaborn as sns

from statsmodels.tools.tools import add_constant
from statsmodels.stats.outliers_influence import variance_inflation_factor

from scipy import stats
import math
from scipy.stats import levene
import researchpy as rp
from sklearn.preprocessing import StandardScaler
import itertools

import statsmodels.api as sm
from statsmodels.formula.api import ols

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

import warnings
warnings.filterwarnings('ignore')

plt.rcParams["figure.figsize"] = (10,8)

In [50]:
df_vecinos = pd.read_csv('datos/villagers.csv')
df_vecinos.head()

,Name,Icon Image,Photo Image,House Image,Species,Gender,Personality,Subtype,Hobby,Birthday,...,Style 2,Color 1,Color 2,Default Clothing,Wallpaper,Flooring,Furniture List,Furniture Name List,Filename,Unique Entry ID
0,Admiral,https://acnhcdn.com/latest/NpcIcon/brd06.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlBr...,https://acnhcdn.com/drivesync/render/houses/br...,Bird,Male,Cranky,A,Nature,1/27,...,Cool,Black,Blue,3164.0,dirt-clod wall,tatami,717;1849;7047;2736;787;5970;3449;3622;3802;410...,clay furnace;kotatsu;zen cushion;retro fan;tap...,brd06,B3RyfNEqwGmcccRC3
1,Agent S,https://acnhcdn.com/latest/NpcIcon/squ05.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlSq...,https://acnhcdn.com/drivesync/render/houses/sq...,Squirrel,Female,Peppy,B,Fitness,7/2,...,Simple,Blue,Black,12036.0,concrete wall,colorful tile flooring,7845;7150;3468;4080;290;3971;3449;1708;4756;25...,pull-up-bar stand;blue corner;beach towel;long...,squ05,SGMdki6dzpDZyXAw5
2,Agnes,https://acnhcdn.com/latest/NpcIcon/pig17.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlPi...,https://acnhcdn.com/drivesync/render/houses/pi...,Pig,Female,Big Sister,A,Play,4/21,...,Elegant,Pink,White,4290.0,gray molded-panel wall,arabesque flooring,4129;7236;7235;7802;896;3428;4027;7325;3958;71...,monstera;lily record player;rose bed;pet bed;c...,pig17,jzWCiDPm9MqtCfecP
3,Al,https://acnhcdn.com/latest/NpcIcon/gor08.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlGo...,https://acnhcdn.com/drivesync/render/houses/go...,Gorilla,Male,Lazy,B,Fitness,10/18,...,Active,Red,White,3244.0,concrete wall,green rubber flooring,1452;4078;4013;833;4116;3697;7845;3307;3946;39...,weight bench;barbell;punching bag;upright lock...,gor08,LBifxETQJGEaLhBjC
4,Alfonso,https://acnhcdn.com/latest/NpcIcon/crd00.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlCr...,https://acnhcdn.com/drivesync/render/houses/cr...,Alligator,Male,Lazy,B,Play,6/9,...,Simple,Red,Blue,7969.0,yellow playroom wall,green honeycomb tile,4763;3205;3701;1557;3623;85;3208;3584;4761;121...,throwback dino screen;wooden-block stereo;writ...,crd00,REpd8KxB8p9aGBRSE

In [51]:
len(df_vecinos['Species'].unique())

35

In [52]:
categoricas_vecinos = df_vecinos.select_dtypes(include='object')
categoricas_vecinos

,Name,Icon Image,Photo Image,House Image,Species,Gender,Personality,Subtype,Hobby,Birthday,...,Style 1,Style 2,Color 1,Color 2,Wallpaper,Flooring,Furniture List,Furniture Name List,Filename,Unique Entry ID
0,Admiral,https://acnhcdn.com/latest/NpcIcon/brd06.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlBr...,https://acnhcdn.com/drivesync/render/houses/br...,Bird,Male,Cranky,A,Nature,1/27,...,Cool,Cool,Black,Blue,dirt-clod wall,tatami,717;1849;7047;2736;787;5970;3449;3622;3802;410...,clay furnace;kotatsu;zen cushion;retro fan;tap...,brd06,B3RyfNEqwGmcccRC3
1,Agent S,https://acnhcdn.com/latest/NpcIcon/squ05.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlSq...,https://acnhcdn.com/drivesync/render/houses/sq...,Squirrel,Female,Peppy,B,Fitness,7/2,...,Active,Simple,Blue,Black,concrete wall,colorful tile flooring,7845;7150;3468;4080;290;3971;3449;1708;4756;25...,pull-up-bar stand;blue corner;beach towel;long...,squ05,SGMdki6dzpDZyXAw5
2,Agnes,https://acnhcdn.com/latest/NpcIcon/pig17.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlPi...,https://acnhcdn.com/drivesync/render/houses/pi...,Pig,Female,Big Sister,A,Play,4/21,...,Simple,Elegant,Pink,White,gray molded-panel wall,arabesque flooring,4129;7236;7235;7802;896;3428;4027;7325;3958;71...,monstera;lily record player;rose bed;pet bed;c...,pig17,jzWCiDPm9MqtCfecP
3,Al,https://acnhcdn.com/latest/NpcIcon/gor08.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlGo...,https://acnhcdn.com/drivesync/render/houses/go...,Gorilla,Male,Lazy,B,Fitness,10/18,...,Active,Active,Red,White,concrete wall,green rubber flooring,1452;4078;4013;833;4116;3697;7845;3307;3946;39...,weight bench;barbell;punching bag;upright lock...,gor08,LBifxETQJGEaLhBjC
4,Alfonso,https://acnhcdn.com/latest/NpcIcon/crd00.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlCr...,https://acnhcdn.com/drivesync/render/houses/cr...,Alligator,Male,Lazy,B,Play,6/9,...,Simple,Simple,Red,Blue,yellow playroom wall,green honeycomb tile,4763;3205;3701;1557;3623;85;3208;3584;4761;121...,throwback dino screen;wooden-block stereo;writ...,crd00,REpd8KxB8p9aGBRSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,Winnie,https://acnhcdn.com/latest/NpcIcon/hrs05.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlHr...,https://acnhcdn.com/drivesync/render/houses/hr...,Horse,Female,Peppy,B,Fashion,1/31,...,Cool,Simple,White,Gray,backyard-fence wall,backyard lawn,1626;1626;5970;4003;3509;1620;1627;3467;1631;1...,iron garden chair;iron garden chair;firewood;c...,hrs05,b4HwfyvThyipScSAv
387,Wolfgang,https://acnhcdn.com/latest/NpcIcon/wol02.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlWo...,https://acnhcdn.com/drivesync/render/houses/wo...,Wolf,Male,Cranky,B,Education,11/25,...,Cool,Active,Black,Green,dark wooden-mosaic wall,stripe flooring,4117;7323;7323;3275;4109;3270;3196;4338;3200;3...,wood-burning stove;brown wooden-deck rug;brown...,wol02,RbF2wcn6jRxtgLDRd
388,Yuka,https://acnhcdn.com/latest/NpcIcon/kal00.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlKa...,https://acnhcdn.com/drivesync/render/houses/ka...,Koala,Female,Snooty,B,Fashion,7/20,...,Cool,Elegant,Orange,Yellow,beige art-deco wall,simple purple flooring,3957;3955;2554;3974;3951;794;4106;3959;3958;997,antique bed;antique vanity;double sofa;imperia...,kal00,QDcxk3dCNT6yeD9hk
389,Zell,https://acnhcdn.com/latest/NpcIcon/der02.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlDe...,https://acnhcdn.com/drivesync/render/houses/de...,Deer,Male,Smug,A,Music,6/7,...,Cool,Gorgeous,Purple,Gray,cityscape wall,monochromatic tile flooring,1875;863;4129;4053;4053;3951;794;3775;4046;423...,grand piano;billiard table;monstera;rattan arm...,der02,LodBWtdMRZbjFNga9
390,Zucker,https://acnhcdn.com/latest/NpcIcon/ocp02.png,https://acnhcdn.com/latest/NpcBromide/NpcNmlOc...,https://acnhcdn.com/drivesync/render/houses/oc...,Octopus,Male,Lazy,A,Nature,3/8,...,Simple,Cute,Blue,Yellow,chain-link fence,backyard lawn,4042;4412;7526;4077;4077;3064;4077;3946;3617;3...,log bench;cotton-candy stall;outdoor generator...,ocp02,2F5tipHqgmWvWXTLC

In [53]:
categoricas_vecinos.columns

Index(['Name', 'Icon Image', 'Photo Image', 'House Image', 'Species', 'Gender',
       'Personality', 'Subtype', 'Hobby', 'Birthday', 'Catchphrase',
       'Favorite Song', 'Favorite Saying', 'Style 1', 'Style 2', 'Color 1',
       'Color 2', 'Wallpaper', 'Flooring', 'Furniture List',
       'Furniture Name List', 'Filename', 'Unique Entry ID'],
      dtype='object')

In [54]:
categoricas_vecinos.drop(['Icon Image', 'Photo Image', 'House Image', 'Wallpaper', 'Flooring',
       'Furniture List', 'Furniture Name List', 'Filename', 'Unique Entry ID'], axis=1, inplace=True)

In [55]:
categoricas_vecinos.columns

Index(['Name', 'Species', 'Gender', 'Personality', 'Subtype', 'Hobby',
       'Birthday', 'Catchphrase', 'Favorite Song', 'Favorite Saying',
       'Style 1', 'Style 2', 'Color 1', 'Color 2'],
      dtype='object')

In [56]:
df_personajes = categoricas_vecinos[['Name', 'Species', 'Gender', 'Personality', 'Subtype', 'Hobby','Birthday',
       'Style 1', 'Style 2', 'Color 1', 'Color 2']].copy()

In [57]:
df_personajes.columns

Index(['Name', 'Species', 'Gender', 'Personality', 'Subtype', 'Hobby',
       'Birthday', 'Style 1', 'Style 2', 'Color 1', 'Color 2'],
      dtype='object')

In [58]:
df_personajes.head(2)

,Name,Species,Gender,Personality,Subtype,Hobby,Birthday,Style 1,Style 2,Color 1,Color 2
0,Admiral,Bird,Male,Cranky,A,Nature,1/27,Cool,Cool,Black,Blue
1,Agent S,Squirrel,Female,Peppy,B,Fitness,7/2,Active,Simple,Blue,Black

In [59]:
lista_sin_nombres = ['Species', 'Gender', 'Personality', 'Subtype', 'Hobby',
       'Birthday', 'Style 1', 'Style 2', 'Color 1', 'Color 2']

for x in lista_sin_nombres:
    print(f"Los valores Ãºnicos de {x.upper()} son: \n {df_personajes[x].unique()}")

Los valores Ãºnicos de SPECIES son:
 ['Bird' 'Squirrel' 'Pig' 'Gorilla' 'Alligator' 'Koala' 'Eagle' 'Anteater'
 'Bull' 'Mouse' 'Cat' 'Horse' 'Hamster' 'Kangaroo' 'Wolf' 'Penguin'
 'Chicken' 'Elephant' 'Sheep' 'Deer' 'Tiger' 'Cub' 'Dog' 'Bear' 'Hippo'
 'Duck' 'Goat' 'Ostrich' 'Rabbit' 'Lion' 'Frog' 'Monkey' 'Rhino' 'Octopus'
 'Cow']
Los valores Ãºnicos de GENDER son:
 ['Male' 'Female']
Los valores Ãºnicos de PERSONALITY son:
 ['Cranky' 'Peppy' 'Big Sister' 'Lazy' 'Normal' 'Snooty' 'Jock' 'Smug']
Los valores Ãºnicos de SUBTYPE son:
 ['A' 'B']
Los valores Ãºnicos de HOBBY son:
 ['Nature' 'Fitness' 'Play' 'Education' 'Fashion' 'Music']
Los valores Ãºnicos de BIRTHDAY son:
 ['1/27' '7/2' '4/21' '10/18' '6/9' '8/19' '11/8' '11/19' '2/16' '3/4'
 '4/30' '2/24' '9/22' '2/6' '12/2' '10/20' '7/4' '9/24' '9/8' '8/31'
 '4/28' '2/22' '3/23' '3/28' '11/7' '8/27' '3/2' '10/15' '9/27' '4/5'
 '12/9' '12/28' '10/10' '8/3' '4/25' '6/12' '12/13' '3/29' '10/3' '2/1'
 '3/25' '5/13' '10/6' '7/3' '12/21' '6/24' '1/1' '3/3' '8/4' '2/7' '9/12'
 '8/7' '11/6' '10/1' '7/7' '6/30' '10/24' '5/26' '9/18' '4/4' '8/8' '5/9'
 '11/1' '12/7' '9/4' '6/5' '5/14' '4/13' '1/6' '7/15' '12/5' '4/2' '9/6'
 '12/15' '4/17' '3/17' '5/11' '8/6' '3/6' '12/19' '10/13' '7/22' '8/28'
 '12/3' '11/22' '10/19' '2/9' '5/1' '4/29' '10/7' '3/1' '8/10' '5/22'
 '6/18' '12/17' '9/23' '7/18' '1/29' '5/8' '7/26' '7/1' '3/9' '11/16'
 '6/27' '5/4' '5/27' '5/24' '5/25' '1/4' '10/2' '7/14' '2/17' '3/16'
 '3/18' '2/18' '3/14' '2/12' '6/25' '10/9' '9/16' '10/14' '3/21' '5/12'
 '10/5' '12/8' '7/23' '7/27' '10/26' '4/3' '12/18' '3/26' '3/30' '6/3'
 '11/21' '9/2' '1/30' '1/22' '7/30' '2/19' '12/14' '10/16' '7/16' '2/8'
 '9/19' '12/16' '3/5' '10/28' '5/17' '1/21' '8/11' '1/15' '8/12' '12/27'
 '10/4' '6/20' '9/5' '7/31' '10/23' '8/29' '1/23' '5/30' '2/25' '1/7'
 '8/30' '9/21' '3/11' '4/6' '3/20' '7/9' '12/30' '11/2' '5/16' '8/24'
 '6/22' '10/27' '7/17' '7/8' '2/2' '1/3' '3/10' '3/15' '5/21' '11/29'
 '4/27' '6/1' '12/23' '4/26' '8/1' '6/28' '10/8' '10/11' '2/15' '3/31'
 '11/23' '9/28' '12/6' '5/15' '8/14' '2/4' '10/17' '7/29' '11/5' '3/27'
 '8/20' '12/12' '11/4' '6/2' '10/12' '11/11' '1/11' '4/8' '9/3' '11/17'
 '6/15' '12/31' '5/31' '1/28' '6/26' '9/29' '11/12' '3/13' '4/12' '3/19'
 '6/29' '3/12' '5/2' '7/6' '4/23' '9/25' '1/12' '3/7' '9/30' '9/13' '7/10'
 '2/14' '12/29' '8/23' '2/28' '8/16' '7/19' '9/20' '7/24' '5/19' '7/12'
 '2/3' '1/20' '5/7' '11/14' '11/9' '5/5' '1/10' '12/26' '2/23' '5/10'
 '3/22' '11/28' '6/8' '9/10' '7/25' '9/11' '5/23' '5/18' '2/5' '11/27'
 '4/22' '1/8' '4/19' '9/9' '4/18' '6/14' '2/11' '1/2' '8/5' '10/25' '7/21'
 '2/21' '1/13' '6/11' '4/11' '5/29' '11/13' '12/22' '6/6' '4/7' '5/28'
 '6/4' '1/24' '2/13' '9/14' '1/17' '1/5' '12/4' '8/18' '4/14' '10/29'
 '11/10' '8/22' '12/1' '6/16' '2/27' '8/26' '12/25' '12/20' '6/19' '7/5'
 '10/21' '1/25' '6/13' '4/10' '2/26' '11/24' '1/18' '1/19' '3/24' '11/15'
 '11/3' '8/9' '11/20' '6/17' '2/20' '4/9' '12/11' '8/17' '2/10' '4/20'
 '6/21' '10/22' '5/3' '5/20' '8/13' '6/23' '5/6' '11/30' '9/26' '11/18'
 '1/9' '8/25' '12/10' '7/28' '9/7' '9/15' '7/13' '1/16' '1/14' '4/16'
 '7/11' '9/1' '1/26' '8/2' '10/30' '6/10' '4/24' '8/21' '8/15' '9/17'
 '11/26' '1/31' '11/25' '7/20' '6/7' '3/8']
Los valores Ãºnicos de STYLE 1 son:
 ['Cool' 'Active' 'Simple' 'Cute' 'Gorgeous' 'Elegant']
Los valores Ãºnicos de STYLE 2 son:
 ['Cool' 'Simple' 'Elegant' 'Active' 'Cute' 'Gorgeous']
Los valores Ãºnicos de COLOR 1 son:
 ['Black' 'Blue' 'Pink' 'Red' 'Yellow' 'Green' 'Colorful' 'Light blue'
 'Orange' 'Purple' 'Brown' 'Beige' 'White' 'Gray']
Los valores Ãºnicos de COLOR 2 son:
 ['Blue' 'Black' 'White' 'Pink' 'Brown' 'Orange' 'Purple' 'Red' 'Colorful'
 'Gray' 'Green' 'Yellow' 'Beige' 'Light blue']

#### DepuraciÃ³n de la columna de cumpleaÃ±os para pasarla a datetime:

In [60]:
#reemplazamos las barras por guiones
df_personajes['Birthday'] = df_personajes['Birthday'].str.replace("/", "-")
df_personajes['Birthday']

0       1-27
1        7-2
2       4-21
3      10-18
4        6-9
       ...
386     1-31
387    11-25
388     7-20
389      6-7
390      3-8
Name: Birthday, Length: 391, dtype: object

In [61]:
df_personajes.dtypes

Name           object
Species        object
Gender         object
Personality    object
Subtype        object
Hobby          object
Birthday       object
Style 1        object
Style 2        object
Color 1        object
Color 2        object
dtype: object

#### *(Imposible pasarlo a datetime sin que explicite un aÃ±o, sale 1900).*

In [62]:
df_personajes.head(2)

,Name,Species,Gender,Personality,Subtype,Hobby,Birthday,Style 1,Style 2,Color 1,Color 2
0,Admiral,Bird,Male,Cranky,A,Nature,1-27,Cool,Cool,Black,Blue
1,Agent S,Squirrel,Female,Peppy,B,Fitness,7-2,Active,Simple,Blue,Black

In [63]:
df_personajes.to_csv('vecines.csv')

#### Insectos Animal Crossing:

In [64]:
insectos = pd.read_csv('datos/insects.csv')

In [65]:
insectos.head(2)

,_id,Name,Icon Image,Critterpedia Image,Furniture Image,Sell,Where/How,Weather,Total Catches to Unlock,Spawn Rates,...,Catch phrase,HHA Base Points,HHA Category,Color 1,Color 2,Icon Filename,Critterpedia Filename,Furniture Filename,Internal ID,Unique Entry ID
0,10.0,agrias butterfly,https://acnhcdn.com/latest/MenuIcon/Ins6.png,https://acnhcdn.com/latest/BookInsectIcon/Inse...,https://acnhcdn.com/latest/FtrIcon/FtrInsectMi...,3000.0,Flying near flowers,Any except rain,20.0,5,...,I caught an agrias butterfly! I wonder if it f...,64.0,Pet,Pink,Green,Ins6,InsectMiirotateha,FtrInsectMiirotateha,620.0,aj95rMzdbSbvZy9A2
1,69.0,ant,https://acnhcdn.com/latest/MenuIcon/Ins26.png,https://acnhcdn.com/latest/BookInsectIcon/Inse...,https://acnhcdn.com/latest/FtrIcon/FtrInsectAr...,80.0,On rotten turnips,Any weather,0.0,0,...,I caught an ant! TELL ME WHERE THE QUEEN IS!,64.0,Pet,Black,White,Ins26,InsectAri,FtrInsectAri,588.0,QZpmczZu4hW2a4Rpv

In [66]:
insectos.columns

Index(['_id', 'Name', 'Icon Image', 'Critterpedia Image', 'Furniture Image',
       'Sell', 'Where/How', 'Weather', 'Total Catches to Unlock',
       'Spawn Rates', 'NH Jan', 'NH Feb', 'NH Mar', 'NH Apr', 'NH May',
       'NH Jun', 'NH Jul', 'NH Aug', 'NH Sep', 'NH Oct', 'NH Nov', 'NH Dec',
       'SH Jan', 'SH Feb', 'SH Mar', 'SH Apr', 'SH May', 'SH Jun', 'SH Jul',
       'SH Aug', 'SH Sep', 'SH Oct', 'SH Nov', 'SH Dec', 'Size', 'Surface',
       'Description', 'Catch phrase', 'HHA Base Points', 'HHA Category',
       'Color 1', 'Color 2', 'Icon Filename', 'Critterpedia Filename',
       'Furniture Filename', 'Internal ID', 'Unique Entry ID'],
      dtype='object')

In [67]:
insectos.drop(['Icon Image', '_id', 'Critterpedia Image', 'Furniture Image', 'NH Apr', 'NH Jan', 'NH Feb', 'NH Mar', 'NH May', 'NH Jun', 'NH Jul', 'NH Aug', 'NH Sep', 'NH Oct',
       'NH Nov', 'NH Dec', 'SH Jan', 'SH Feb', 'SH Mar', 'SH Apr', 'SH May', 'Critterpedia Filename', 'Furniture Filename', 'Icon Filename',
       'SH Jun', 'SH Jul', 'SH Aug', 'SH Sep', 'SH Oct', 'SH Nov', 'SH Dec', 'Unique Entry ID'], axis=1, inplace=True)

In [68]:
insectos.head(2)

,Name,Sell,Where/How,Weather,Total Catches to Unlock,Spawn Rates,Size,Surface,Description,Catch phrase,HHA Base Points,HHA Category,Color 1,Color 2,Internal ID
0,agrias butterfly,3000.0,Flying near flowers,Any except rain,20.0,5,1x1,Yes,Some say the agrias butterfly is one of the mo...,I caught an agrias butterfly! I wonder if it f...,64.0,Pet,Pink,Green,620.0
1,ant,80.0,On rotten turnips,Any weather,0.0,0,1x1,No,"I warn you, the ant may be a small bug, but it...",I caught an ant! TELL ME WHERE THE QUEEN IS!,64.0,Pet,Black,White,588.0

In [69]:
insectos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     80 non-null     object
 1   Sell                     80 non-null     float64
 2   Where/How                80 non-null     object
 3   Weather                  80 non-null     object
 4   Total Catches to Unlock  80 non-null     float64
 5   Spawn Rates              80 non-null     object
 6   Size                     80 non-null     object
 7   Surface                  80 non-null     object
 8   Description              80 non-null     object
 9   Catch phrase             80 non-null     object
 10  HHA Base Points          80 non-null     float64
 11  HHA Category             80 non-null     object
 12  Color 1                  80 non-null     object
 13  Color 2                  80 non-null     object
 14  Internal ID              80 non-null     float64
dtypes: float64(4), object(11)
memory usage: 9.5+ KB

In [70]:
round(insectos.describe().T, 2)

,count,mean,std,min,25%,50%,75%,max
Sell,80.0,2220.5,3209.39,10.0,237.50,600.0,2625.00,12000.0
Total Catches to Unlock,80.0,17.5,30.08,0.0,0.00,0.0,20.00,100.0
HHA Base Points,80.0,64.0,0.00,64.0,64.00,64.0,64.00,64.0
Internal ID,80.0,1056.0,1132.81,582.0,603.75,623.5,644.25,5339.0

In [71]:
insectos.corr()

,Sell,Total Catches to Unlock,HHA Base Points,Internal ID
Sell,1.000000,0.821856,NaN,0.009409
Total Catches to Unlock,0.821856,1.000000,NaN,0.081146
HHA Base Points,NaN,NaN,NaN,NaN
Internal ID,0.009409,0.081146,NaN,1.000000

# Lista de csv:

## descartados:
- accessories
- achievements
- bags
- art
- fossils

## interesantes

#### - **Sea creatures**

In [72]:
sea_creatures = pd.read_csv('datos/sea creatures.csv')
sea_creatures.head()

,_id,Name,Icon Image,Critterpedia Image,Furniture Image,Sell,Shadow,Movement Speed,Total Catches to Unlock,Spawn Rates,...,Color 1,Color 2,Lighting Type,Icon Filename,Critterpedia Filename,Furniture Filename,Version Added,Version Unlocked,Internal ID,Unique Entry ID
0,17.0,abalone,https://acnhcdn.com/latest/MenuIcon/Awabi.png,https://acnhcdn.com/latest/BookDiveFishIcon/Di...,https://acnhcdn.com/latest/FtrIcon/FtrDiveFish...,2000.0,Medium,Medium,20.0,1â€“6,...,None,None,Fluorescent,Awabi,DiveFishAwabi,FtrDiveFishAwabi,1.3.0,1.3.0,2835.0,LnurTYKDSPtsiQr62
1,28.0,acorn barnacle,https://acnhcdn.com/latest/MenuIcon/Fujitsubo.png,https://acnhcdn.com/latest/BookDiveFishIcon/Di...,https://acnhcdn.com/latest/FtrIcon/FtrDiveFish...,600.0,X-Small,Stationary,0.0,6â€“11,...,None,None,Fluorescent,Fujitsubo,DiveFishFujitsubo,FtrDiveFishFujitsubo,1.3.0,1.3.0,2832.0,QjvNJrjo5pNqZzuGq
2,19.0,chambered nautilus,https://acnhcdn.com/latest/MenuIcon/Oumugai.png,https://acnhcdn.com/latest/BookDiveFishIcon/Di...,https://acnhcdn.com/latest/FtrIcon/FtrDiveFish...,1800.0,Medium,Medium,20.0,3â€“5,...,None,None,Fluorescent,Oumugai,DiveFishOumugai,FtrDiveFishOumugai,1.3.0,1.3.0,2856.0,cmNawSTGaZZjRi5sp
3,25.0,Dungeness crab,https://acnhcdn.com/latest/MenuIcon/DungenessC...,https://acnhcdn.com/latest/BookDiveFishIcon/Di...,https://acnhcdn.com/latest/FtrIcon/FtrDiveFish...,1900.0,Medium,Medium,20.0,3â€“5,...,None,None,Fluorescent,DungenessCrab,DiveFishDungenessCrab,FtrDiveFishDungenessCrab,1.3.0,1.3.0,7308.0,jTP553H6DNuKBSAKa
4,23.0,firefly squid,https://acnhcdn.com/latest/MenuIcon/Hotaruika.png,https://acnhcdn.com/latest/BookDiveFishIcon/Di...,https://acnhcdn.com/latest/FtrIcon/FtrDiveFish...,1400.0,X-Small,Slow,0.0,6,...,None,None,Fluorescent,Hotaruika,DiveFishHotaruika,FtrDiveFishHotaruika,1.3.0,1.3.0,6920.0,ETuWxdyZNpqeFCYby

In [73]:
sea_creatures.columns

Index(['_id', 'Name', 'Icon Image', 'Critterpedia Image', 'Furniture Image',
       'Sell', 'Shadow', 'Movement Speed', 'Total Catches to Unlock',
       'Spawn Rates', 'NH Jan', 'NH Feb', 'NH Mar', 'NH Apr', 'NH May',
       'NH Jun', 'NH Jul', 'NH Aug', 'NH Sep', 'NH Oct', 'NH Nov', 'NH Dec',
       'SH Jan', 'SH Feb', 'SH Mar', 'SH Apr', 'SH May', 'SH Jun', 'SH Jul',
       'SH Aug', 'SH Sep', 'SH Oct', 'SH Nov', 'SH Dec', 'Size', 'Surface',
       'Description', 'Catch phrase', 'HHA Base Points', 'HHA Category',
       'Color 1', 'Color 2', 'Lighting Type', 'Icon Filename',
       'Critterpedia Filename', 'Furniture Filename', 'Version Added',
       'Version Unlocked', 'Internal ID', 'Unique Entry ID'],
      dtype='object')

In [74]:
fish = pd.read_csv('datos/fish.csv')
fish.head()

,_id,Name,Icon Image,Critterpedia Image,Furniture Image,Sell,Where/How,Shadow,Catch Difficulty,Vision,...,HHA Base Points,HHA Category,Color 1,Color 2,Lighting Type,Icon Filename,Critterpedia Filename,Furniture Filename,Internal ID,Unique Entry ID
0,56.0,anchovy,https://acnhcdn.com/latest/MenuIcon/Fish81.png,https://acnhcdn.com/latest/BookFishIcon/FishAn...,https://acnhcdn.com/latest/FtrIcon/FtrFishAnty...,200.0,Sea,Small,Very Easy,Very Wide,...,71.0,Pet,Blue,Red,No lighting,Fish81,FishAntyobi,FtrFishAntyobi,4201.0,LzuWkSQP55uEpRCP5
1,36.0,angelfish,https://acnhcdn.com/latest/MenuIcon/Fish30.png,https://acnhcdn.com/latest/BookFishIcon/FishAn...,https://acnhcdn.com/latest/FtrIcon/FtrFishAnge...,3000.0,River,Small,Easy,Medium,...,71.0,Pet,Yellow,Black,Fluorescent,Fish30,FishAngelfish,FtrFishAngelfish,2247.0,XTCFCk2SiuY5YXLZ7
2,44.0,arapaima,https://acnhcdn.com/latest/MenuIcon/Fish36.png,https://acnhcdn.com/latest/BookFishIcon/FishPi...,https://acnhcdn.com/latest/FtrIcon/FtrFishPira...,10000.0,River,XX-Large,Very Hard,Narrow,...,71.0,Pet,Black,Blue,No lighting,Fish36,FishPiraruku,FtrFishPiraruku,2253.0,mZy4BES54bqwi97br
3,41.0,arowana,https://acnhcdn.com/latest/MenuIcon/Fish33.png,https://acnhcdn.com/latest/BookFishIcon/FishAr...,https://acnhcdn.com/latest/FtrIcon/FtrFishArow...,10000.0,River,Large,Very Hard,Medium,...,71.0,Pet,Yellow,Black,Fluorescent,Fish33,FishArowana,FtrFishArowana,2250.0,F68AvCaqddBJL7ZSN
4,58.0,barred knifejaw,https://acnhcdn.com/latest/MenuIcon/Fish47.png,https://acnhcdn.com/latest/BookFishIcon/FishIs...,https://acnhcdn.com/latest/FtrIcon/FtrFishIshi...,5000.0,Sea,Medium,Hard,Medium,...,71.0,Pet,White,Black,Fluorescent,Fish47,FishIshidai,FtrFishIshidai,2265.0,X3R9SFSAaDzBF4fE3

In [75]:
fish['Where/How'].value_counts()

Sea                 29
River               27
Pond                12
Pier                 4
River (clifftop)     4
River (mouth)        3
Sea (rainy days)     1
Name: Where/How, dtype: int64

In [76]:
fish.columns.intersection(sea_creatures.columns)

Index(['_id', 'Name', 'Icon Image', 'Critterpedia Image', 'Furniture Image',
       'Sell', 'Shadow', 'Total Catches to Unlock', 'Spawn Rates', 'NH Jan',
       'NH Feb', 'NH Mar', 'NH Apr', 'NH May', 'NH Jun', 'NH Jul', 'NH Aug',
       'NH Sep', 'NH Oct', 'NH Nov', 'NH Dec', 'SH Jan', 'SH Feb', 'SH Mar',
       'SH Apr', 'SH May', 'SH Jun', 'SH Jul', 'SH Aug', 'SH Sep', 'SH Oct',
       'SH Nov', 'SH Dec', 'Size', 'Surface', 'Description', 'Catch phrase',
       'HHA Base Points', 'HHA Category', 'Color 1', 'Color 2',
       'Lighting Type', 'Icon Filename', 'Critterpedia Filename',
       'Furniture Filename', 'Internal ID', 'Unique Entry ID'],
      dtype='object')

Vemos que tras concatenar los df de peces y criaturas marinas, criaturas marinas no tiene la columna de 'Where/How'. Como son criaturas marinas, reemplazamos estos valores nulos por 'Mar', y fusionamos los valores que contengan 'River' en una sola categorÃ­a.

#### *Concatemos con inner y ya no tenemos nulos <3*

In [77]:
df_marino_right = pd.concat([sea_creatures, fish], axis = 0, join = 'outer')
df_marino_right.head()

,_id,Name,Icon Image,Critterpedia Image,Furniture Image,Sell,Shadow,Movement Speed,Total Catches to Unlock,Spawn Rates,...,Icon Filename,Critterpedia Filename,Furniture Filename,Version Added,Version Unlocked,Internal ID,Unique Entry ID,Where/How,Catch Difficulty,Vision
0,17.0,abalone,https://acnhcdn.com/latest/MenuIcon/Awabi.png,https://acnhcdn.com/latest/BookDiveFishIcon/Di...,https://acnhcdn.com/latest/FtrIcon/FtrDiveFish...,2000.0,Medium,Medium,20.0,1â€“6,...,Awabi,DiveFishAwabi,FtrDiveFishAwabi,1.3.0,1.3.0,2835.0,LnurTYKDSPtsiQr62,NaN,NaN,NaN
1,28.0,acorn barnacle,https://acnhcdn.com/latest/MenuIcon/Fujitsubo.png,https://acnhcdn.com/latest/BookDiveFishIcon/Di...,https://acnhcdn.com/latest/FtrIcon/FtrDiveFish...,600.0,X-Small,Stationary,0.0,6â€“11,...,Fujitsubo,DiveFishFujitsubo,FtrDiveFishFujitsubo,1.3.0,1.3.0,2832.0,QjvNJrjo5pNqZzuGq,NaN,NaN,NaN
2,19.0,chambered nautilus,https://acnhcdn.com/latest/MenuIcon/Oumugai.png,https://acnhcdn.com/latest/BookDiveFishIcon/Di...,https://acnhcdn.com/latest/FtrIcon/FtrDiveFish...,1800.0,Medium,Medium,20.0,3â€“5,...,Oumugai,DiveFishOumugai,FtrDiveFishOumugai,1.3.0,1.3.0,2856.0,cmNawSTGaZZjRi5sp,NaN,NaN,NaN
3,25.0,Dungeness crab,https://acnhcdn.com/latest/MenuIcon/DungenessC...,https://acnhcdn.com/latest/BookDiveFishIcon/Di...,https://acnhcdn.com/latest/FtrIcon/FtrDiveFish...,1900.0,Medium,Medium,20.0,3â€“5,...,DungenessCrab,DiveFishDungenessCrab,FtrDiveFishDungenessCrab,1.3.0,1.3.0,7308.0,jTP553H6DNuKBSAKa,NaN,NaN,NaN
4,23.0,firefly squid,https://acnhcdn.com/latest/MenuIcon/Hotaruika.png,https://acnhcdn.com/latest/BookDiveFishIcon/Di...,https://acnhcdn.com/latest/FtrIcon/FtrDiveFish...,1400.0,X-Small,Slow,0.0,6,...,Hotaruika,DiveFishHotaruika,FtrDiveFishHotaruika,1.3.0,1.3.0,6920.0,ETuWxdyZNpqeFCYby,NaN,NaN,NaN

In [78]:
df_marino_right.drop(['Icon Image', 'Critterpedia Image', 'Furniture Image', 'NH Jan', 'NH Feb', 'NH Mar', 'NH Apr', 'NH May',
       'NH Jun', 'NH Jul', 'NH Aug', 'NH Sep', 'NH Oct', 'NH Nov', 'NH Dec', 'Icon Filename',
       'SH Jan', 'SH Feb', 'SH Mar', 'SH Apr', 'SH May', 'SH Jun', 'SH Jul',
       'SH Aug', 'SH Sep', 'SH Oct', 'SH Nov', 'SH Dec', 'Critterpedia Filename', 'Furniture Filename', 'Internal ID', 'Unique Entry ID',], axis=1, inplace=True)

In [79]:
df_marino_right.sample(5)

,_id,Name,Sell,Shadow,Movement Speed,Total Catches to Unlock,Spawn Rates,Size,Surface,Description,...,HHA Base Points,HHA Category,Color 1,Color 2,Lighting Type,Version Added,Version Unlocked,Where/How,Catch Difficulty,Vision
13,5.0,carp,300.0,Large,NaN,0.0,3â€“9,1x1,Yes,"Oh, the carp... have you ever seen their teeth...",...,71.0,Pet,Gray,Black,Fluorescent,NaN,NaN,Pond,Very Easy,Medium
15,28.0,char,3800.0,Medium,NaN,20.0,1â€“4,1x1,Yes,The char is one of the bigger first around the...,...,71.0,Pet,Brown,Black,Fluorescent,NaN,NaN,River (clifftop),Hard,Narrow
1,28.0,acorn barnacle,600.0,X-Small,Stationary,0.0,6â€“11,1x1,Yes,Do not mistake the acorn barnacle for a relati...,...,0.0,Pet,None,None,Fluorescent,1.3.0,1.3.0,NaN,NaN,NaN
28,19.0,giant snakehead,5500.0,Large,NaN,50.0,2,2x1,Yes,The giant snakehead is quite a sight to behold...,...,71.0,Pet,Black,Black,Fluorescent,NaN,NaN,Pond,Hard,Medium
38,40.0,Venus' flower basket,5000.0,Medium,Fast,40.0,1â€“3,1x1,Yes,The Venus' flower basket looks like an otherwo...,...,0.0,Pet,None,None,Fluorescent,1.3.0,1.3.0,NaN,NaN,NaN

In [80]:
df_marino_right["Where/How"] = df_marino_right["Where/How"].replace(np.nan, "Sea")

In [81]:
numericas = df_marino_right.select_dtypes(include=np.number)

for x in numericas:
    df_marino_right[x] = df_marino_right[x].astype(int)

In [82]:
df_marino = pd.concat([sea_creatures, fish], axis = 0, join = 'inner')
df_marino.head()

,_id,Name,Icon Image,Critterpedia Image,Furniture Image,Sell,Shadow,Total Catches to Unlock,Spawn Rates,NH Jan,...,HHA Base Points,HHA Category,Color 1,Color 2,Lighting Type,Icon Filename,Critterpedia Filename,Furniture Filename,Internal ID,Unique Entry ID
0,17.0,abalone,https://acnhcdn.com/latest/MenuIcon/Awabi.png,https://acnhcdn.com/latest/BookDiveFishIcon/Di...,https://acnhcdn.com/latest/FtrIcon/FtrDiveFish...,2000.0,Medium,20.0,1â€“6,4 PM â€“Â 9 AM,...,0.0,Pet,None,None,Fluorescent,Awabi,DiveFishAwabi,FtrDiveFishAwabi,2835.0,LnurTYKDSPtsiQr62
1,28.0,acorn barnacle,https://acnhcdn.com/latest/MenuIcon/Fujitsubo.png,https://acnhcdn.com/latest/BookDiveFishIcon/Di...,https://acnhcdn.com/latest/FtrIcon/FtrDiveFish...,600.0,X-Small,0.0,6â€“11,All day,...,0.0,Pet,None,None,Fluorescent,Fujitsubo,DiveFishFujitsubo,FtrDiveFishFujitsubo,2832.0,QjvNJrjo5pNqZzuGq
2,19.0,chambered nautilus,https://acnhcdn.com/latest/MenuIcon/Oumugai.png,https://acnhcdn.com/latest/BookDiveFishIcon/Di...,https://acnhcdn.com/latest/FtrIcon/FtrDiveFish...,1800.0,Medium,20.0,3â€“5,NaN,...,0.0,Pet,None,None,Fluorescent,Oumugai,DiveFishOumugai,FtrDiveFishOumugai,2856.0,cmNawSTGaZZjRi5sp
3,25.0,Dungeness crab,https://acnhcdn.com/latest/MenuIcon/DungenessC...,https://acnhcdn.com/latest/BookDiveFishIcon/Di...,https://acnhcdn.com/latest/FtrIcon/FtrDiveFish...,1900.0,Medium,20.0,3â€“5,All day,...,0.0,Pet,None,None,Fluorescent,DungenessCrab,DiveFishDungenessCrab,FtrDiveFishDungenessCrab,7308.0,jTP553H6DNuKBSAKa
4,23.0,firefly squid,https://acnhcdn.com/latest/MenuIcon/Hotaruika.png,https://acnhcdn.com/latest/BookDiveFishIcon/Di...,https://acnhcdn.com/latest/FtrIcon/FtrDiveFish...,1400.0,X-Small,0.0,6,NaN,...,0.0,Pet,None,None,Fluorescent,Hotaruika,DiveFishHotaruika,FtrDiveFishHotaruika,6920.0,ETuWxdyZNpqeFCYby

In [83]:
df_marino.isnull().sum()

_id                         0
Name                        0
Icon Image                  0
Critterpedia Image          0
Furniture Image             0
Sell                        0
Shadow                      0
Total Catches to Unlock     0
Spawn Rates                 0
NH Jan                     69
NH Feb                     71
NH Mar                     66
NH Apr                     61
NH May                     54
NH Jun                     41
NH Jul                     38
NH Aug                     36
NH Sep                     30
NH Oct                     56
NH Nov                     58
NH Dec                     65
SH Jan                     38
SH Feb                     36
SH Mar                     30
SH Apr                     56
SH May                     58
SH Jun                     65
SH Jul                     69
SH Aug                     71
SH Sep                     66
SH Oct                     61
SH Nov                     54
SH Dec                     41
Size                        0
Surface                     0
Description                 0
Catch phrase                0
HHA Base Points             0
HHA Category                0
Color 1                     0
Color 2                     0
Lighting Type               0
Icon Filename               0
Critterpedia Filename       0
Furniture Filename          0
Internal ID                 0
Unique Entry ID             0
dtype: int64

In [84]:
df_marino.columns

Index(['_id', 'Name', 'Icon Image', 'Critterpedia Image', 'Furniture Image',
       'Sell', 'Shadow', 'Total Catches to Unlock', 'Spawn Rates', 'NH Jan',
       'NH Feb', 'NH Mar', 'NH Apr', 'NH May', 'NH Jun', 'NH Jul', 'NH Aug',
       'NH Sep', 'NH Oct', 'NH Nov', 'NH Dec', 'SH Jan', 'SH Feb', 'SH Mar',
       'SH Apr', 'SH May', 'SH Jun', 'SH Jul', 'SH Aug', 'SH Sep', 'SH Oct',
       'SH Nov', 'SH Dec', 'Size', 'Surface', 'Description', 'Catch phrase',
       'HHA Base Points', 'HHA Category', 'Color 1', 'Color 2',
       'Lighting Type', 'Icon Filename', 'Critterpedia Filename',
       'Furniture Filename', 'Internal ID', 'Unique Entry ID'],
      dtype='object')

In [85]:
df_marino.drop(['Icon Image', 'Critterpedia Image', 'Furniture Image', 'NH Jan', 'NH Feb', 'NH Mar', 'NH Apr', 'NH May',
       'NH Jun', 'NH Jul', 'NH Aug', 'NH Sep', 'NH Oct', 'NH Nov', 'NH Dec', 'Icon Filename',
       'SH Jan', 'SH Feb', 'SH Mar', 'SH Apr', 'SH May', 'SH Jun', 'SH Jul',
       'SH Aug', 'SH Sep', 'SH Oct', 'SH Nov', 'SH Dec', 'Critterpedia Filename', 'Furniture Filename', 'Internal ID', 'Unique Entry ID',], axis=1, inplace=True)

In [86]:
df_marino.isnull().sum()

_id                        0
Name                       0
Sell                       0
Shadow                     0
Total Catches to Unlock    0
Spawn Rates                0
Size                       0
Surface                    0
Description                0
Catch phrase               0
HHA Base Points            0
HHA Category               0
Color 1                    0
Color 2                    0
Lighting Type              0
dtype: int64

In [87]:
df_marino.shape

(120, 15)

In [88]:
df_marino.sample(5)

,_id,Name,Sell,Shadow,Total Catches to Unlock,Spawn Rates,Size,Surface,Description,Catch phrase,HHA Base Points,HHA Category,Color 1,Color 2,Lighting Type
0,56.0,anchovy,200.0,Small,0.0,2â€“5,1x1,No,"There are more than 140 species of anchovy, bu...",I caught an anchovy! Stay away from my pizza!,71.0,Pet,Blue,Red,No lighting
6,37.0,betta,2500.0,Small,20.0,1â€“4,1x1,No,The betta has long fins and beautiful coloring...,I caught a betta! I betta not drop it!,71.0,Pet,Light blue,Black,Fluorescent
72,50.0,surgeonfish,1000.0,Small,0.0,2,1x1,No,"Hoo! Careful, now! These fish are particularly...",I caught a surgeonfish! Scalpel! Forceps! Fish...,71.0,Pet,Blue,Black,Fluorescent
45,35.0,nibble fish,1500.0,X-Small,20.0,2,1x1,No,Nibble fish are best known for their use in a ...,"I caught a nibble fish! Come to think of it, I...",71.0,Pet,Brown,Blue,No lighting
11,32.0,mantis shrimp,2500.0,Small,20.0,2â€“8,1x1,Yes,Think carefully before you mock the mantis shr...,I got a mantis shrimp! Shrimply amazing!,0.0,Pet,None,None,Fluorescent

In [89]:
df_marino["Lighting Type"].unique()

array(['Fluorescent', 'No lighting', 'Emission'], dtype=object)

#### **CategorizaciÃ³n animales**

In [90]:
df_personajes.head(2)

,Name,Species,Gender,Personality,Subtype,Hobby,Birthday,Style 1,Style 2,Color 1,Color 2
0,Admiral,Bird,Male,Cranky,A,Nature,1-27,Cool,Cool,Black,Blue
1,Agent S,Squirrel,Female,Peppy,B,Fitness,7-2,Active,Simple,Blue,Black

In [91]:
df_personajes["Type"] = df_personajes["Species"]

In [92]:
df_personajes.head()

,Name,Species,Gender,Personality,Subtype,Hobby,Birthday,Style 1,Style 2,Color 1,Color 2,Type
0,Admiral,Bird,Male,Cranky,A,Nature,1-27,Cool,Cool,Black,Blue,Bird
1,Agent S,Squirrel,Female,Peppy,B,Fitness,7-2,Active,Simple,Blue,Black,Squirrel
2,Agnes,Pig,Female,Big Sister,A,Play,4-21,Simple,Elegant,Pink,White,Pig
3,Al,Gorilla,Male,Lazy,B,Fitness,10-18,Active,Active,Red,White,Gorilla
4,Alfonso,Alligator,Male,Lazy,B,Play,6-9,Simple,Simple,Red,Blue,Alligator

In [123]:
df_personajes['Birthday'] = pd.to_datetime(df_personajes['Birthday'], format='2023-%m-%d')

In [124]:
df_personajes.dtypes

Name                   object
Species                object
Gender                 object
Personality            object
Subtype                object
Hobby                  object
Birthday       datetime64[ns]
Style 1                object
Style 2                object
Color 1                object
Color 2                object
Type                   object
dtype: object

In [125]:
df_personajes.head()

,Name,Species,Gender,Personality,Subtype,Hobby,Birthday,Style 1,Style 2,Color 1,Color 2,Type
0,Admiral,Bird,Male,Cranky,A,Nature,1900-01-27,Cool,Cool,Black,Blue,Bird
1,Agent S,Squirrel,Female,Peppy,B,Fitness,1900-07-02,Active,Simple,Blue,Black,Mammal
2,Agnes,Pig,Female,Big Sister,A,Play,1900-04-21,Simple,Elegant,Pink,White,Mammal
3,Al,Gorilla,Male,Lazy,B,Fitness,1900-10-18,Active,Active,Red,White,Mammal
4,Alfonso,Alligator,Male,Lazy,B,Play,1900-06-09,Simple,Simple,Red,Blue,Amphibian

mammal, amphibian, bird,

In [96]:
df_personajes["Species"].unique()

array(['Bird', 'Squirrel', 'Pig', 'Gorilla', 'Alligator', 'Koala',
       'Eagle', 'Anteater', 'Bull', 'Mouse', 'Cat', 'Horse', 'Hamster',
       'Kangaroo', 'Wolf', 'Penguin', 'Chicken', 'Elephant', 'Sheep',
       'Deer', 'Tiger', 'Cub', 'Dog', 'Bear', 'Hippo', 'Duck', 'Goat',
       'Ostrich', 'Rabbit', 'Lion', 'Frog', 'Monkey', 'Rhino', 'Octopus',
       'Cow'], dtype=object)

In [97]:
df_personajes["Type"].replace("Squirrel", "Mammal")

0           Bird
1         Mammal
2            Pig
3        Gorilla
4      Alligator
         ...
386        Horse
387         Wolf
388        Koala
389         Deer
390      Octopus
Name: Type, Length: 391, dtype: object

In [98]:
df_personajes.head()

,Name,Species,Gender,Personality,Subtype,Hobby,Birthday,Style 1,Style 2,Color 1,Color 2,Type
0,Admiral,Bird,Male,Cranky,A,Nature,1900-01-27,Cool,Cool,Black,Blue,Bird
1,Agent S,Squirrel,Female,Peppy,B,Fitness,1900-07-02,Active,Simple,Blue,Black,Squirrel
2,Agnes,Pig,Female,Big Sister,A,Play,1900-04-21,Simple,Elegant,Pink,White,Pig
3,Al,Gorilla,Male,Lazy,B,Fitness,1900-10-18,Active,Active,Red,White,Gorilla
4,Alfonso,Alligator,Male,Lazy,B,Play,1900-06-09,Simple,Simple,Red,Blue,Alligator

In [99]:
def tipo(col):
    
    mammals = ['Squirrel', 'Pig', 'Gorilla', 'Koala', 'Anteater', 'Bull', 'Mouse', 'Cat', 'Horse', 'Hamster',
        'Kangaroo', 'Wolf', 'Elephant', 'Sheep', 'Deer', 'Tiger', 'Cub', 'Dog', 'Bear', 'Hippo', 'Goat',
        'Rabbit', 'Lion', 'Monkey', 'Rhino', 'Cow']

    birds = ['Bird', 'Eagle', 'Penguin', 'Chicken', 'Duck', 'Ostrich']

    amphibians = ['Alligator', 'Frog', 'Octopus']

    if col in mammals:
        return "Mammal"
    elif col in birds:
        return "Bird"
    elif col in amphibians:
        return "Amphibian"
    else:
        pass

In [100]:
df_personajes["Type"] = df_personajes["Type"].apply(tipo)

In [101]:
df_personajes.head()

,Name,Species,Gender,Personality,Subtype,Hobby,Birthday,Style 1,Style 2,Color 1,Color 2,Type
0,Admiral,Bird,Male,Cranky,A,Nature,1900-01-27,Cool,Cool,Black,Blue,Bird
1,Agent S,Squirrel,Female,Peppy,B,Fitness,1900-07-02,Active,Simple,Blue,Black,Mammal
2,Agnes,Pig,Female,Big Sister,A,Play,1900-04-21,Simple,Elegant,Pink,White,Mammal
3,Al,Gorilla,Male,Lazy,B,Fitness,1900-10-18,Active,Active,Red,White,Mammal
4,Alfonso,Alligator,Male,Lazy,B,Play,1900-06-09,Simple,Simple,Red,Blue,Amphibian

In [102]:
df_personajes.to_csv("vecines_tipo.csv")

#### Categorizar insectos

In [103]:
insectos.head()

,Name,Sell,Where/How,Weather,Total Catches to Unlock,Spawn Rates,Size,Surface,Description,Catch phrase,HHA Base Points,HHA Category,Color 1,Color 2,Internal ID
0,agrias butterfly,3000.0,Flying near flowers,Any except rain,20.0,5,1x1,Yes,Some say the agrias butterfly is one of the mo...,I caught an agrias butterfly! I wonder if it f...,64.0,Pet,Pink,Green,620.0
1,ant,80.0,On rotten turnips,Any weather,0.0,0,1x1,No,"I warn you, the ant may be a small bug, but it...",I caught an ant! TELL ME WHERE THE QUEEN IS!,64.0,Pet,Black,White,588.0
2,Atlas moth,3000.0,On trees (any kind),Any weather,20.0,5,1x1,Yes,The Atlas moth is a monstrous thing! Not only ...,I caught an Atlas moth! I bet it never gets lost!,64.0,Pet,Orange,Yellow,652.0
3,bagworm,600.0,Shaking trees (hardwood or cedar only),Any weather,0.0,50,1x1,Yes,"The bagworm is, in fact, not a worm at all, bu...",I caught a bagworm! Guess I'm a bragworm!,64.0,Pet,Brown,Blue,622.0
4,banded dragonfly,4500.0,Flying near water,Any except rain,50.0,7,1x1,Yes,The banded dragonfly is known for its black-an...,I did it! Did you see that? I caught a banded ...,64.0,Pet,Black,Yellow,635.0

In [104]:
insectos["Where/How"].unique()

array(['Flying near flowers', 'On rotten turnips', 'On trees (any kind)',
       'Shaking trees (hardwood or cedar only)', 'Flying near water',
       'On the ground', 'On palm trees', 'On hardwood/cedar trees',
       'From hitting rocks', 'On tree stumps', 'Flying',
       'On rivers/ponds', 'Pushing snowballs', 'On villagers',
       'Flying near trash (boots, tires, cans) or rotten turnips',
       'Disguised on shoreline', 'On flowers',
       'Underground (dig where noise is loudest)',
       'Flying near light sources', 'On white flowers',
       'Flying near blue/purple/black flowers', 'On rocks/bushes',
       'Disguised under trees', 'Shaking trees', 'On beach rocks'],
      dtype=object)

In [105]:
def dondebixos(col):
    
    near_flowers = ['Flying near flowers', 'On flowers', 'On white flowers', 'Flying near blue/purple/black flowers']

    near_forest = ['On trees (any kind)', 'Shaking trees (hardwood or cedar only)', 'On hardwood/cedar trees',
    'On tree stumps', 'Disguised under trees', 'Shaking trees']

    near_ground = ['On the ground', 'From hitting rocks', 'On tree stumps','Pushing snowballs',
        'Disguised on shoreline', 'On flowers', 'Flying',
        'Underground (dig where noise is loudest)', 'On rocks/bushes','On beach rocks']

    near_capitalism = ['On rotten turnips', 'On villagers', 'Flying near light sources',
    'Flying near trash (boots, tires, cans) or rotten turnips']

    near_water = ['Flying near water', 'On palm trees', 'On rivers/ponds', 'Disguised on shoreline', 'On beach rocks']

    if col in near_flowers:
        return "Near flowers"
    elif col in near_forest:
        return "Near forest"
    elif col in near_ground:
        return "Near ground"
    elif col in near_capitalism:
        return "Near town"
    elif col in near_water:
        return "Near water"

In [106]:
near_flowers = ['Flying near flowers', 'On flowers', 'On white flowers', 'Flying near blue/purple/black flowers']

near_forest = ['On trees (any kind)', 'Shaking trees (hardwood or cedar only)', 'On hardwood/cedar trees',
'On tree stumps', 'Disguised under trees', 'Shaking trees']

near_ground = ['On the ground', 'From hitting rocks', 'On tree stumps','Pushing snowballs',
    'Disguised on shoreline', 'On flowers', 'Flying',
    'Underground (dig where noise is loudest)', 'On rocks/bushes', 'On beach rocks']

near_capitalism = ['On rotten turnips', 'On villagers', 'Flying near light sources', 
'Flying near trash (boots, tires, cans) or rotten turnips']

near_water = ['Flying near water', 'On palm trees', 'On rivers/ponds', 'Disguised on shoreline', 'On beach rocks']

In [107]:
lista_todo = near_flowers + near_forest + near_ground + near_capitalism + near_water

In [108]:
lista_todito = ['Flying near flowers', 'On rotten turnips', 'On trees (any kind)',
       'Shaking trees (hardwood or cedar only)', 'Flying near water',
       'On the ground', 'On palm trees', 'On hardwood/cedar trees',
       'From hitting rocks', 'On tree stumps', 'Flying',
       'On rivers/ponds', 'Pushing snowballs', 'On villagers',
       'Flying near trash (boots, tires, cans) or rotten turnips',
       'Disguised on shoreline', 'On flowers',
       'Underground (dig where noise is loudest)',
       'Flying near light sources', 'On white flowers',
       'Flying near blue/purple/black flowers', 'On rocks/bushes',
       'Disguised under trees', 'Shaking trees', 'On beach rocks']

In [109]:
lista_todo == lista_todito

False

In [110]:
list(set(lista_todo).symmetric_difference(set(lista_todito)))

[]

In [111]:
insectos["Whereabouts"] = insectos["Where/How"].apply(dondebixos)

In [112]:
insectos.head()

,Name,Sell,Where/How,Weather,Total Catches to Unlock,Spawn Rates,Size,Surface,Description,Catch phrase,HHA Base Points,HHA Category,Color 1,Color 2,Internal ID,Whereabouts
0,agrias butterfly,3000.0,Flying near flowers,Any except rain,20.0,5,1x1,Yes,Some say the agrias butterfly is one of the mo...,I caught an agrias butterfly! I wonder if it f...,64.0,Pet,Pink,Green,620.0,Near flowers
1,ant,80.0,On rotten turnips,Any weather,0.0,0,1x1,No,"I warn you, the ant may be a small bug, but it...",I caught an ant! TELL ME WHERE THE QUEEN IS!,64.0,Pet,Black,White,588.0,Near town
2,Atlas moth,3000.0,On trees (any kind),Any weather,20.0,5,1x1,Yes,The Atlas moth is a monstrous thing! Not only ...,I caught an Atlas moth! I bet it never gets lost!,64.0,Pet,Orange,Yellow,652.0,Near forest
3,bagworm,600.0,Shaking trees (hardwood or cedar only),Any weather,0.0,50,1x1,Yes,"The bagworm is, in fact, not a worm at all, bu...",I caught a bagworm! Guess I'm a bragworm!,64.0,Pet,Brown,Blue,622.0,Near forest
4,banded dragonfly,4500.0,Flying near water,Any except rain,50.0,7,1x1,Yes,The banded dragonfly is known for its black-an...,I did it! Did you see that? I caught a banded ...,64.0,Pet,Black,Yellow,635.0,Near water

In [113]:
insectos["Sell"].unique()

array([3.00e+03, 8.00e+01, 6.00e+02, 4.50e+03, 4.30e+02, 8.00e+02,
       2.50e+02, 3.00e+02, 1.00e+01, 3.50e+02, 1.60e+02, 1.30e+02,
       8.00e+03, 5.00e+02, 2.30e+02, 2.00e+02, 4.00e+03, 5.50e+02,
       7.00e+01, 6.00e+01, 1.00e+04, 2.00e+03, 1.20e+04, 1.00e+03,
       1.35e+03, 2.40e+03, 2.50e+03, 1.40e+02, 6.00e+03, 1.80e+02,
       4.00e+02, 1.20e+02, 1.50e+03, 2.40e+02, 4.50e+02])

In [114]:
insectos.mean()

Sell                       2220.5
Total Catches to Unlock      17.5
HHA Base Points              64.0
Internal ID                1056.0
dtype: float64

In [115]:
numericas = insectos.select_dtypes(include=np.number)

for x in numericas:
    insectos[x] = insectos[x].astype(int)

In [116]:
insectos.dtypes

Name                       object
Sell                        int64
Where/How                  object
Weather                    object
Total Catches to Unlock     int64
Spawn Rates                object
Size                       object
Surface                    object
Description                object
Catch phrase               object
HHA Base Points             int64
HHA Category               object
Color 1                    object
Color 2                    object
Internal ID                 int64
Whereabouts                object
dtype: object

In [117]:
insectos.head()

,Name,Sell,Where/How,Weather,Total Catches to Unlock,Spawn Rates,Size,Surface,Description,Catch phrase,HHA Base Points,HHA Category,Color 1,Color 2,Internal ID,Whereabouts
0,agrias butterfly,3000,Flying near flowers,Any except rain,20,5,1x1,Yes,Some say the agrias butterfly is one of the mo...,I caught an agrias butterfly! I wonder if it f...,64,Pet,Pink,Green,620,Near flowers
1,ant,80,On rotten turnips,Any weather,0,0,1x1,No,"I warn you, the ant may be a small bug, but it...",I caught an ant! TELL ME WHERE THE QUEEN IS!,64,Pet,Black,White,588,Near town
2,Atlas moth,3000,On trees (any kind),Any weather,20,5,1x1,Yes,The Atlas moth is a monstrous thing! Not only ...,I caught an Atlas moth! I bet it never gets lost!,64,Pet,Orange,Yellow,652,Near forest
3,bagworm,600,Shaking trees (hardwood or cedar only),Any weather,0,50,1x1,Yes,"The bagworm is, in fact, not a worm at all, bu...",I caught a bagworm! Guess I'm a bragworm!,64,Pet,Brown,Blue,622,Near forest
4,banded dragonfly,4500,Flying near water,Any except rain,50,7,1x1,Yes,The banded dragonfly is known for its black-an...,I did it! Did you see that? I caught a banded ...,64,Pet,Black,Yellow,635,Near water

Depurar:
- Limpiar los dfs.

In [118]:
insectos.isnull().sum()

Name                       0
Sell                       0
Where/How                  0
Weather                    0
Total Catches to Unlock    0
Spawn Rates                0
Size                       0
Surface                    0
Description                0
Catch phrase               0
HHA Base Points            0
HHA Category               0
Color 1                    0
Color 2                    0
Internal ID                0
Whereabouts                0
dtype: int64

In [119]:
lista_sin_nombres = ['Name', 'Sell', 'Where/How', 'Weather',
       'Total Catches to Unlock', 'Spawn Rates', 'Size', 'Surface', 'Whereabouts']

for x in lista_sin_nombres:
    print(f"Los valores Ãºnicos de {x.upper()} son: \n {insectos[x].unique()}")
    print(f"\n <3    <3    <3    <3    <3 \n")

Los valores Ãºnicos de NAME son:
 ['agrias butterfly' 'ant' 'Atlas moth' 'bagworm' 'banded dragonfly'
 'bell cricket' 'blue weevil beetle' 'brown cicada' 'centipede'
 'cicada shell' 'citrus long-horned beetle' 'common bluebottle'
 'common butterfly' 'cricket' 'cyclommatus stag' 'damselfly'
 'darner dragonfly' 'diving beetle' 'drone beetle' 'dung beetle'
 'earth-boring dung beetle' 'emperor butterfly' 'evening cicada' 'firefly'
 'flea' 'fly' 'giant cicada' 'giant stag' 'giant water bug' 'giraffe stag'
 'golden stag' 'goliath beetle' 'grasshopper' 'great purple emperor'
 'hermit crab' 'honeybee' 'horned atlas' 'horned dynastid'
 'horned elephant' 'horned hercules' 'jewel beetle' 'ladybug'
 'long locust' 'Madagascan sunset moth' 'man-faced stink bug' 'mantis'
 'migratory locust' 'miyama stag' 'mole cricket' 'monarch butterfly'
 'mosquito' 'moth' 'orchid mantis' 'paper kite butterfly'
 'peacock butterfly' 'pill bug' 'pondskater' "Queen Alexandra's birdwing"
 'rainbow stag' "Rajah Brooke's birdwing" 'red dragonfly'
 'rice grasshopper' 'robust cicada' 'rosalia batesi beetle' 'saw stag'
 'scarab beetle' 'scorpion' 'snail' 'spider' 'stinkbug' 'tarantula'
 'tiger beetle' 'tiger butterfly' 'violin beetle' 'walker cicada'
 'walking leaf' 'walking stick' 'wasp' 'wharf roach' 'yellow butterfly']

 <3    <3    <3    <3    <3

Los valores Ãºnicos de SELL son:
 [ 3000    80   600  4500   430   800   250   300    10   350   160   130
  8000   500   230   200  4000   550    70    60 10000  2000 12000  1000
  1350  2400  2500   140  6000   180   400   120  1500   240   450]

 <3    <3    <3    <3    <3

Los valores Ãºnicos de WHERE/HOW son:
 ['Flying near flowers' 'On rotten turnips' 'On trees (any kind)'
 'Shaking trees (hardwood or cedar only)' 'Flying near water'
 'On the ground' 'On palm trees' 'On hardwood/cedar trees'
 'From hitting rocks' 'On tree stumps' 'Flying' 'On rivers/ponds'
 'Pushing snowballs' 'On villagers'
 'Flying near trash (boots, tires, cans) or rotten turnips'
 'Disguised on shoreline' 'On flowers'
 'Underground (dig where noise is loudest)' 'Flying near light sources'
 'On white flowers' 'Flying near blue/purple/black flowers'
 'On rocks/bushes' 'Disguised under trees' 'Shaking trees'
 'On beach rocks']

 <3    <3    <3    <3    <3

Los valores Ãºnicos de WEATHER son:
 ['Any except rain' 'Any weather' 'Rain only']

 <3    <3    <3    <3    <3

Los valores Ãºnicos de TOTAL CATCHES TO UNLOCK son:
 [ 20   0  50 100]

 <3    <3    <3    <3    <3

Los valores Ãºnicos de SPAWN RATES son:
 ['5' '0' '50' '7' '60' '2' '70' '30' '1' '10' '40' '200' '5â€“10' '25' '35'
 '20' '15' '80' '3']

 <3    <3    <3    <3    <3

Los valores Ãºnicos de SIZE son:
 ['1x1']

 <3    <3    <3    <3    <3

Los valores Ãºnicos de SURFACE son:
 ['Yes' 'No']

 <3    <3    <3    <3    <3

Los valores Ãºnicos de WHEREABOUTS son:
 ['Near flowers' 'Near town' 'Near forest' 'Near water' 'Near ground']

 <3    <3    <3    <3    <3

In [120]:
insectos["Weather"].unique()

array(['Any except rain', 'Any weather', 'Rain only'], dtype=object)